[Main]
log_path=
publish_batch_size=50

[Bookshare]
username=
password=
api_host=api.bookshare.org
api_key=

[GPG]
path=
key_passphrase=
key_fingerprint=
public_key_url=

[Learning Registry]
lr_node=sandbox.learningregistry.org
lr_username=
lr_password=
